:host {
  display: block;
}
demo-snippet {
  --demo-snippet-demo: {
    background: var(--paper-grey-200);
    padding: 8px;
  };
  --demo-snippet-code: {
    max-height: 300px;
  };
}

paper-card {
  width: 350px;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

paper-card:hover, paper-card:focus, paper-fab:hover, paper-fab:focus {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
  0 1px 8px 0 rgba(0, 0, 0, 0.12),
  0 3px 3px -2px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
paper-card:active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 1px 10px 0 rgba(0, 0, 0, 0.12),
  0 2px 4px -1px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.horizontal {
  @apply(--layout-horizontal);
}

.justified {
  @apply(--layout-justified);
}

.amber {
  background: var(--paper-amber-900);
}

.lime {
  background: var(--paper-lime-500);
}

.cyan {
  background: var(--paper-cyan-500);
}

.dark {
  background: var(--paper-blue-grey-500);
}
paper-card.dark, paper-card.amber, paper-card.lime, paper-card.cyan {
  color: white;
  --paper-card-header-color: white;
}

paper-checkbox {
  display: block;
  margin-bottom: 4px;
  --paper-checkbox-label-color: white;
  --paper-checkbox-unchecked-color: white;
}

paper-icon-button {
  color: var(--paper-grey-600);
}

paper-icon-button.white {
  color: white !important;
}