:host {
  display: block;
}
span {
  @apply(--paper-font-body1);
}
paper-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
paper-card {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
paper-card:hover, paper-card:focus, paper-fab:hover, paper-fab:focus {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
  0 1px 8px 0 rgba(0, 0, 0, 0.12),
  0 3px 3px -2px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
paper-card:active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 1px 10px 0 rgba(0, 0, 0, 0.12),
  0 2px 4px -1px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-horizontal {
  @apply(--layout-horizontal);
}
.flexchild {
  @apply(--layout-flex);
}
paper-item {
  cursor: pointer;
}